::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.home {
    display: 'flex';
    flex-wrap: 'wrap';
    overflow: 'hidden';
}

.gridList {
    width: 95%;
}

.flex-container {
    display: flex;
    justify-content: 'flex-center';
    border-width: 20px;
    border-color: black;
    margin-left:8%;
    margin-right: 8%;
}

.flex-container>div {
    margin: 16px;
}

.left {
    width: 76%;
}

.right {
    padding-left: 10px;
}

.likes {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.comments {
    width: 87%;
    margin-bottom: 50px;
}

.red {
    color: red;
}

.transparent {
   color: black;
}

.button {
    float: right;
    width: 10%;
}

.tags {
    display: flex;
    color: blue;
}

@media (max-width: 992px) {
    .flex-container {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 90%;
    }
    .released-movie-grid-item {
        margin: 8px;
    }
}
.comments-span-heading {
    font-weight: 900
}
.comments-span-content {
    font-weight: 550
}