/*CSS file for header component*/

/*app-header class contains the style properties of <header> tag in Header.js*/
.app-header {                       
    background-color: #263238;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

/*app-logo class contains the style properties of <p> tag(acts as logo in header) in Header.js*/
.app-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:  #fff;
    margin: auto;
    text-decoration: none;
    text-align: left;  
    padding: 8px 0px;
}


.search-box {
    border-radius: 4px;
    width: 300 px;
    background-color: "#c0c0c0" ;
    text-align: center ;
}